/**
* @name Shade
* @version 5.1
* @description Based Off Of Nocturnal by Spectra. Created by Memeverze.
* @author Memeverze (original by Spectra)
* @source https://github.com/xcruxiex/themes
* @website https://betterdiscord.app/theme/Nocturnal
*/
@import url("https://raw.githubusercontent.com/Memeverze/custom-dc-theme-memeverze/main/BASE.css");
@import url("https://raw.githubusercontent.com/Memeverze/custom-dc-theme-memeverze/main/backup.css");
@import url("https://raw.githubusercontent.com/MiniDiscordThemes/SettingsIcons/main/SettingsIcons.theme.css");
/*
                                                                                                                                                                     
                                                                                                                                                                     
MMMMMMMM               MMMMMMMM                                                                                                                                                                 
M:::::::M             M:::::::M                                                                                                                                                                 
M::::::::M           M::::::::M                                                                                                                                                                 
M:::::::::M         M:::::::::M                                                                                                                                                                 
M::::::::::M       M::::::::::M    eeeeeeeeeeee       mmmmmmm    mmmmmmm       eeeeeeeeeeee  vvvvvvv           vvvvvvv eeeeeeeeeeee    rrrrr   rrrrrrrrr   zzzzzzzzzzzzzzzzz    eeeeeeeeeeee    
M:::::::::::M     M:::::::::::M  ee::::::::::::ee   mm:::::::m  m:::::::mm   ee::::::::::::ee v:::::v         v:::::vee::::::::::::ee  r::::rrr:::::::::r  z:::::::::::::::z  ee::::::::::::ee  
M:::::::M::::M   M::::M:::::::M e::::::eeeee:::::eem::::::::::mm::::::::::m e::::::eeeee:::::eev:::::v       v:::::ve::::::eeeee:::::eer:::::::::::::::::r z::::::::::::::z  e::::::eeeee:::::ee
M::::::M M::::M M::::M M::::::Me::::::e     e:::::em::::::::::::::::::::::me::::::e     e:::::e v:::::v     v:::::ve::::::e     e:::::err::::::rrrrr::::::rzzzzzzzz::::::z  e::::::e     e:::::e
M::::::M  M::::M::::M  M::::::Me:::::::eeeee::::::em:::::mmm::::::mmm:::::me:::::::eeeee::::::e  v:::::v   v:::::v e:::::::eeeee::::::e r:::::r     r:::::r      z::::::z   e:::::::eeeee::::::e
M::::::M   M:::::::M   M::::::Me:::::::::::::::::e m::::m   m::::m   m::::me:::::::::::::::::e    v:::::v v:::::v  e:::::::::::::::::e  r:::::r     rrrrrrr     z::::::z    e:::::::::::::::::e 
M::::::M    M:::::M    M::::::Me::::::eeeeeeeeeee  m::::m   m::::m   m::::me::::::eeeeeeeeeee      v:::::v:::::v   e::::::eeeeeeeeeee   r:::::r                z::::::z     e::::::eeeeeeeeeee  
M::::::M     MMMMM     M::::::Me:::::::e           m::::m   m::::m   m::::me:::::::e                v:::::::::v    e:::::::e            r:::::r               z::::::z      e:::::::e           
M::::::M               M::::::Me::::::::e          m::::m   m::::m   m::::me::::::::e                v:::::::v     e::::::::e           r:::::r              z::::::zzzzzzzze::::::::e          
M::::::M               M::::::M e::::::::eeeeeeee  m::::m   m::::m   m::::m e::::::::eeeeeeee         v:::::v       e::::::::eeeeeeee   r:::::r             z::::::::::::::z e::::::::eeeeeeee  
M::::::M               M::::::M  ee:::::::::::::e  m::::m   m::::m   m::::m  ee:::::::::::::e          v:::v         ee:::::::::::::e   r:::::r            z:::::::::::::::z  ee:::::::::::::e  
MMMMMMMM               MMMMMMMM    eeeeeeeeeeeeee  mmmmmm   mmmmmm   mmmmmm    eeeeeeeeeeeeee           vvv            eeeeeeeeeeeeee   rrrrrrr            zzzzzzzzzzzzzzzzz    eeeeeeeeeeeeee  
                                                                                                                                                                     
                                                                                                                                                                     
*/
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
:root {
	--header-primary: #8d96a6);
	--header-secondary: #747d91);
 	--text-normal: #8d96a6;
	--text-muted: #2b2e33;
	--text-link: #00c954;
  --backgroundColor01: #16171a;
  --backgroundColor02: #0f1012;
  --mainColor: #829199;


  --gradientColor01: #a0a832;
  --gradientColor02: #32a852;
  --gradientColor01: #650bdb;
  --gradientColor02: #ededed;

  /* Better Hljs */
  --backgroundCode: #1e2731;
  --backgroundName: rgba(255, 0, 0, .2);

  --customFont: 'gg sans', sans-serif;
}
